#dashboard-title{
  font-size: 24px;
  padding: 20px;
}

#body-container {
  border-radius: 10px;
  background-color: #f2f4f6;
	font-family: Arial, sans-serif;
  height: 780px;
  width: 1048px;
}

#dashboard-container {
  display: grid;
  grid-template-columns: 2fr 1fr;  /* left column wider */
  grid-template-rows: auto auto auto;   /* first row (nested), second row (status) */
  gap: 20px;
  background-color: #f2f4f6;
  height: 700px;
  padding:20px;
}

#date-container{
  padding: 0px 20px 0px 20px;
}

#datePicker {
  width: 80px;
  text-align: center;
}

.plot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: white;
}

.spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.widget-metric {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #555;
}


.dashboard-widget {
  background-color: white;
  border-radius: 20px;
}

.widget-title {
  color: #555;
  font-size: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.right-top {
  display: grid;
  grid-template-rows: 1fr 1fr;   /* two stacked boxes */
  gap: 10px;
}

.plot-cumulative {
  grid-column: 1 / 2; /* first column */
  grid-row: 1;
  width: 650px;
  height: 380px
}

.plot-status-title {
  margin-bottom: 0px;
}

.total-consumption {
  grid-column: 2 / 3; /* second column */
  grid-row: 1;
}

.plot-status {
  grid-column: 1 / 3; /* span both columns */
  grid-row: 2;
  height: 300px;
}
.numeric-metrics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
}
.total-consumption, .total-consumption-cost {
  border-radius:10px;
}
