<!DOCTYPE html>
<html>
  <head>
    <title>Power Dashboard</title>
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32-green.png">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/flatpickr.min.css">
    <script src="static/js/plotly-3.1.0.min.js"></script>
    <script src="static/js/flatpickr.js"></script>
  </head>

  <body>
    <h1>Water heater usage <span class="current-date"></span></h1>

    <div id="date-container">
      <label for="datePicker">Select a date:</label>
      <input type="text" id="datePicker" placeholder="Pick a date">
    </div>

    <div id="dashboard-container">
      <div class="dashboard-item plot-cumulative" style="display: flex; flex-direction: column; align-items: center; width: 100%;">
        <div class="plot-cumulative-title" style="font-size: 20px; font-weight: bold; margin-bottom: 20px;" >Cumulative consumption</div>
        <div id="plot-cumulative" class="plot-container"><div class="spinner"></div></div>
      </div>

      <div class="right-top" style="display: flex; flex-direction: column; align-items: center; width: 100%;">
        <div class="dashboard-item total-consumption numeric-metrics-container" style="display: flex; flex-direction: column; align-items: center; width: 100%;">
          <div class="total-kwh-title" style="font-size: 20px; font-weight: bold; margin-bottom: 20px;">Total consumption</div>
          <div id="total-kwh" style="font-size: 40px; font-weight: bold; margin-bottom: 20px; color: green"><div class="spinner"></div></div>
        </div>
        <div class="dashboard-item total-consumption-cost numeric-metrics-container" style="display: flex; flex-direction: column; align-items: center; width: 100%;">
          <div class="consumption-cost-title" style="font-size: 20px; font-weight: bold; margin-bottom: 20px;">Daily cost</div>
          <div id="total-consumption" style="font-size: 40px; font-weight: bold; margin-bottom: 20px; color: green"><div class="spinner"></div></div>
        </div>
      </div>

      <div class="dashboard-item plot-status" style="display: flex; flex-direction: column; align-items: center; width: 100%;">
        <div class="plot-status-title" style="font-size: 20px; font-weight: bold; margin-bottom: 20px;">Status</div>
        <div id="plot-status" class="plot-container"><div class="spinner"></div></div>
      </div>

    </div>

    <script>
      document.addEventListener("DOMContentLoaded", async function() {
        try {
          const response = await fetch("/get-available-dates");
          const payload = await response.json();
          const availableDates = payload.dates.sort();
          async function setDate(selectedDates, dateStr, instance) {
            let currentDate = document.getElementsByClassName("current-date")[0];
            currentDate.innerText = `(${dateStr})`;
            initPlot(dateStr);
          }

          const fp = flatpickr("#datePicker", {
              dateFormat: "Y-m-d",
              defaultDate: availableDates.at(-1),
              dateFormat: "Y-m-d",
              enable: availableDates,
              onReady: setDate,
              onChange: setDate,
          });
        } catch (err) {
          console.error("Failed to fetch date config:", err);
        }
      });
    </script>

    <script>
    async function initPlot(dateStr) {
        let response = await fetch(`/init-data?date=${encodeURIComponent(dateStr)}`);
        const payload = await response.json();

        const rows = payload.data;
        const segments = payload.segments;

        if (!rows.length) return;

        const spinners = document.getElementsByClassName("spinner");
        Array.from(spinners).forEach(spinner => spinner.remove());

        const timestamps = rows.map(r => r.timestamp);
        const cumulative = rows.map(r => r.cumulative_kWh);
        const totalkWh = cumulative[cumulative.length - 1]

        totalkWhdiv = document.getElementById("total-kwh");
        totalkWhdiv.innerText = `${totalkWh.toFixed(1)} kWh`;

        totalConsumption = document.getElementById("total-consumption");
        totalConsumption.innerText = `${(totalkWh * 128).toFixed(1)} $`;

        xaxisRange = [`${dateStr} 00:00:00`, `${dateStr} 23:59:59`]

        Plotly.newPlot("plot-cumulative", [{
            x: timestamps,
            y: cumulative,
            mode: "lines",
            name: "Cumulative kWh",
            line: {color: "green"}
        }], {
            title: "Cumulative Energy Consumption",
            width: 660,
            height: 300,
            margin: { l: 80, r: 50, t: 50, b: 100 },
            xaxis: {
                tickformat: "%H:%M",
                dtick: 3600000,  // 30 minutes
                range: xaxisRange,
                title: { text: "Time", standoff: 20 },
                fixedrange: true,
            },
            yaxis: {
                title: { text: "Cumulative (kWh)", standoff: 15 },
                fixedrange: true,
            }
        }, { displayModeBar: false, staticPlot: false });

        const status_traces = segments.map(s => ({
            x: [s.start, s.end],
            y: [s.status ? 1 : 0, s.status ? 1 : 0],
            mode: "lines",
            line: { color: s.status ? "red" : "blue", width: 3 },
            showlegend: false
        }));

        const annotations = segments.map(s => ({
            x: new Date(s.mid_time),
            y: s.status ? 1 : 0,
            text: s.duration.toFixed(1) + " min",
            showarrow: false,
            yshift: 10,
            font: { size: 10 }
        }));

        Plotly.newPlot("plot-status", status_traces, {
            title: "Device Status (ON/OFF segments)",
            width: 1000,
            height: 240,
            margin: { l: 80, r: 50, t: 50, b: 100 },
            yaxis: {
                title: { text: "Status", standoff: 15 },
                tickvals:[0,1],
                ticktext:["OFF","ON"],
                range:[-0.2,1.2],
                fixedrange: true
            },
            xaxis: {
                tickformat: "%H:%M",
                dtick: 1800000,  // 30 minutes
                range: xaxisRange,
                title: { text: "Time", standoff: 10 },
                fixedrange: true,
            },
            annotations: annotations
        }, { displayModeBar: false });
    }
    </script>
  </body>
</html>